* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* GENERAL */

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color:white;
    font-weight:bold;
    font-size:20px;
}

h2 {
    color:white;
    font-weight:bold;
    font-size:15px;
    line-height:17px;
}

/* UTILITIES */

.center {
    text-align:center;
}

.right {
    text-align:right;
}

.left {
    text-align:left;
}

.white {
    color:white;
}

.upper {
    text-transform:uppercase;
    font-size:12px;
    font-weight:bold;
}

.bold {
    font-weight:bold;
}

.circle {
    border:1px solid #a3a3a3;
    border-radius:100%;
    display:inline-block;
    padding:0px 3px;
    margin-right:5px;
}

/* LAYOUT & COLUMNS */

.row {
    width:100%;
    display:flex;
    flex-wrap:wrap;
}

.col-6 {
    width:calc(100% / 6 - 20px);
    margin:10px;
}

.col-100 {
    width:100%;
    margin:10px;
}

.col-25 {
    width:25%;
}

.col-25-right {
    width:25%;
    display:flex;
    justify-content:flex-end;
}

.col-50 {
    width:50%;
}

/* TOP  */

#top {
    height:calc(100vh - 80px);
    background-color: bisque;
}

.top-container {
    height:100%;
    display:flex;
}

/* SIDEBAR  */

#sidebar {
    width:230px;
    background-color: black;
    padding:15px;
    color:white;
}

#sidebar .content-desk {
    height:100%;
    position:relative;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    font-size:12px;
    color:#a3a3a3;
}

#sidebar .logo {
    width:100%;
}

#sidebar .logo img {
    width:70%;
}

#sidebar .icone-nav {
    width:100%;
    margin:15px 0;
}

#sidebar .icone-nav img {
    width:25px;
    vertical-align:middle;
    filter:opacity(0.7);
}

#sidebar #cerca, #libreria {
    margin:10px 0;
}

#sidebar #home {
    border-left:3px solid #a7f62e;
    padding:0px 10px;
    margin-left:-15px;
}

#sidebar .playlist {
    width:100%;
}

#sidebar .playlist .crea {
    margin:10px 0;
}

#sidebar .playlist .plus {
    vertical-align: middle;
    display: inline;
    margin-right:10px;
}

#sidebar .playlist .lista {
    height:30vh;
    overflow-y:auto;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar li {
    margin:15px 0;
}

#sidebar .fine-colonna {
    margin-top:auto;
}

#sidebar .installa {
    width:100%;
    border-bottom:1px solid #a3a3a3;
    padding-bottom:7px;
    margin-bottom:7px;
}

#sidebar .profile {
    width:25px;
    height:25px;
    border-radius:50%;
    background-color: #a3a3a3;
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
}

#sidebar .profile img {
    width:70%;
    margin-left:3px;
}

#sidebar .content-mobile {
    display:none;
}

/* PARTE CENTRALE */

#center-content {
    width:calc(100vw - 230px);
}

/* HEADER  */

header {
    width:calc(100vw - 230px);
    height:80px;
    background-color: #080b12;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

header .upgrade {
    margin-right:10px;
}

header a {
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    font-size:12px;
    padding:5px 30px;
    border:1px solid white;
    color:white;
    border-radius:50px;
}

/* MAIN CONTENT  */

.main-content {
    width:calc(100vw - 230px);
    height:calc(100% - 80px);
    background-color: #141922;
    overflow-y:auto;
    color:#a3a3a3;
    padding:0px 10px;
    font-size:12px;
    line-height:30px;
}

nav ul {
    list-style-type: none;
    margin:20px 0;
}

nav li {
    display:inline-block;
    margin:0px 20px;
    line-height:40px;
}

nav li:first-child::after {
    display:block;
    clear:both;
    content : "";
    position: relative;
    left    : 0;
    bottom  : 0;
    max-width:250px;
    height  : 1px;
    width   : 40%;
    border-bottom:2px solid #a7f62e;
    margin:0 auto;
    margin-top:-5px;
}

.main-content .col-6 img {
    width:100%;
}

.main-content .album {
    position:relative;
}

.main-content .album-hover {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.6);
}

.main-content .circle-2 .album-hover {
    border-radius: 50%;
}

.main-content .album-hover .play {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.main-content .album:hover .album-hover {
    display:block;
}

.main-content .col-100 {
    margin-top:30px;
}

.main-content .circle-2 img {
    border-radius:50%;
}


/* BOTTOM  */

#bottom { 
    height:80px;
    background-color: #282828;
    position:fixed;
    width:100%;
    z-index:3;
}

/* FOOTER  */

footer {
    padding:20px 0;
    font-size:11px;
    line-height:11px;
    color:#a3a3a3;
}

footer .row {
    align-items:center;
}

footer .content {
    height:50px;
    width:100%;
}

footer .content-flex {
    display:flex;
    max-width:230px;
    align-items:center;
    justify-content:space-between;
    flex-wrap:nowrap;
    padding-left:10px;
}

footer .content-right {
    display:flex;
    align-items:center;
    flex-wrap:nowrap;
    text-align:right;
    width:100%;
    justify-content:flex-end;
}


footer .content-flex .fav-fold {
    font-size:15px;
    letter-spacing:5px;
}

footer .content-flex .song-playing img {
    width:30px;
    vertical-align:middle;
}

footer .content-flex .song-title {
    display:inline-block;
    vertical-align:middle;
}

footer .content-flex .song-title {
    
}

footer .content .player-icon {
    display:inline-block;
    margin:0px 10px;
}

footer .content .player {
    margin-top:5px;
    font-size:10px;
}

footer .player-bar {
    display:inline-block;
    width:50%;
    height:3px;
    background-color:#5b5b5b;
    margin:0px 10px;
}

footer .content-right .player-icon {
    display:inline-block;
    margin:0px 5px;
}

footer .volume-bar {
    display:inline-block;
    width:30%;
    height:3px;
    background-color:#5b5b5b;
    margin:0px 10px;  
}


/* MEDIA QUERY!!!!! */

/* MONITOR-S: cambio cover(4 per riga) */
@media screen and (max-width:991px) {
    
    /* LAYOUT & COLUMNS  */
    .col-6 {
        width:calc(100% / 4 - 20px);
    }
}

/* TABLET: cambio icone footer, cover(2 per riga) */
@media screen and (max-width:768px) {
    /* LAYOUT & COLUMNS  */
    .col-6 {
        width:calc(100% / 2 - 20px);
    }
}

/* MOBILE: cambio sidebar  */
@media screen and (max-width:576px) {

    /* SIDEBAR  */
    #sidebar {
        width:50px;
        background-color: black;
        padding:5px;
        color:white;
    }

    #sidebar .content-desk {
        display:none;
    }

    #sidebar .content-mobile {
        height:100%;
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content:space-between;
    }

    #sidebar .content-mobile img {
        width:25px;
        margin:2px 0;
        filter:opacity(0.7);
    }

    #sidebar .content-mobile  #logo-s img {
        filter:opacity(1);
    }

    #sidebar .fine-colonna-mobile .circle {
        font-size:9px;
    }

    #sidebar .fine-colonna-mobile .profile img {
        width:70%;
    }

    /* PARTE CENTRALE */

    #center-content {
        width:calc(100vw - 50px);
    }

    /* HEADER  */

    header {
        width:calc(100vw - 50px);
        height:80px;
    }

    /* MAIN CONTENT  */

    .main-content {
        width:calc(100vw - 50px);
        height:calc(100% - 80px);
    }
}